/* navbar styles */
.language select{
  right: 1rem;
  top: 2rem;
  position: absolute;
  outline: 2px solid;
  color: aliceblue;
  background: rgba(0,0,0,0);
  padding: 0 0.5rem;
}
.menu{
  top: 0.7rem;
  left: 0.7rem;
  z-index: 111111 ;
  position: absolute;
}
/* mobile logo */
.logo{
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
}
.language__mobile select{
  outline: 2px solid;
  color: aliceblue;
  background: rgba(0,0,0,0);
  padding: 0 0.5rem;
}
.service__page__text span{
  font-weight: bold;
  font-size: 1rem;
}
.service__page__text .italic{
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
  font-size: 1rem;
}
.service__page__text #italic{
  font-style: normal;
  font-size: 1rem;
}
/* .results__image{
  outline: 2px solid red;
}
.results__image_header{
  outline: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
} */